MAILTO=<email>

# tadah.mine.nu statsruns
*/60 * * * *    stats/60-statsrun.sh
30 * * * *      stats/statsrun/sob.php
35 */3 * * *    stats/statsrun/fah-members.php
30 */3 * * *    stats/statsrun/fah-teams.php
10 */4 * * *    stats/240-statsrun.sh

# Routinely check the databases to ensure no tables are damaged
12   1 * * *    mysqlcheck -h <servername> --all-databases --auto-repair | grep -v OK$

# Optional: Drop users accessing the stats database after the request has exceeded 300 seconds to prevent connection limits being reached
*/5  * * * *    stats/scripts/purge.php

# Calculate the average scores and the additional production for all stats members once a day
42   5 * * *    stats/statsrun/average.php
0    3 * * *    stats/additional/additional.sh
