.TextField
{
        background-color: #EAEAEA;
	background: #EAEAEA;
	border-color: #005FA9;
	border-style: solid;
	border-width: 1px;
	color: #005FA9;
	font-size: 8pt;
	font-family: verdana,arial,sans-serif;
}

body
{
	margin-bottom : 0%;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0%;
	margin : 0px;
	padding : 0px;
}

img.smiley
{
        cursor: pointer;
}

img
{
	border : 0;
}

td
{
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
}

a
{
        color: #005FA9;
}

a:hover
{
        color:#6F6F6F
}

.colorbox
{
	border: 2px #707070 solid;
	margin-left: 5px;
	margin-right: 5px;
}

a.wLink:link    { color:#FFFFFF; }
a.wLink:visited { color:#EEEEEE; }

.score
{
	color : #FF0000;
}

.altScore
{
	color : #0000FF;
}

hr
{
	width : 98%;
}

.styleCell
{
	width : 50%;
	height : 100%;
}

.firstCell
{
	background-color : #EAEAEA;
}

.oddCell
{
	background-color:#B3B3B3;
}

.evenCell
{
	background-color:#C0C0C0;
}

.pageCell
{
	width : 780px;
}

.cellHeight1
{
	height : 38px;
}

.cellHeight2
{
	height : 94px;
}

.cellHeight3
{
	height : 6px;
}

.cellHeight4
{
	height : 1px;
}

.cellHeight5
{
	height : 50px;
}

.cellHeight6
{
	height : 40px;
}



#nav, #nav ul { /* all lists */
	padding: 0px;
	margin: 0px;
	margin-left: 45px;
	list-style: none;
	line-height: 2;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight:bold;
	background:#c0c0c0;
}

#nav a {
	display: block;
	width: 15em;
	text-decoration:none;
}

#nav li ul a{
	background:#c0c0c0;
	text-decoration:none;
}

#nav li ul a:hover {
	background:#b3b3b3;
}

#nav li { /* all list items */
	float: left;
	width: 15em; /* width needed or else Opera goes nuts */
}

#nav li ul { /* second-level lists */
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	position: absolute;
	padding: 5px;
/*	background: #C0C0C0; */
	border-color: #005FA9;
	border-style: solid;
	border-width: 1px;
	width: 15em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen 
readers */
}

#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 0 0 10em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	text-decoration:none;
	left: -999em;
}


#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list 
items */
/*	background: #b3b3b3; */
	text-decoration:none;
	left: auto;
}

#content {
	clear: left;
	color: #DADADA;
}


.menulink {
	color: #005FA9;
	font-weight: bold;
	text-decoration: none;
}
